{% extends 'base.html' %}

{% block title %}Add Tag for files{% endblock %}

{% block content %}

<section class="_content_block_1">
  <div class="wr">
    <div class="_15cacd0c">
      <div class="_content_left_block">
        <header class="_af4fe10b">
          <h2 class="_060ab2a4">File storage</h2>
          {% include 'storage/_menu_main.html' %}
          {% include 'storage/_find_file.html' %}
        </header>
      </div>
      <div class="_content_right_block">
        <div class="_3f613442">
          <h4 class="_8239ae20">Add Tag for files</h4><br />
          <div class="_1b1643a8">
            <form method="post">
              {% csrf_token %} {{ form.as_p }}
              <button type="submit">Save Tag fo file</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}