{% extends 'quotes/base.html' %}
{% block title %}Delete file "{{ file.file_name }}"{% endblock %}
{% block content %}

<section class="_content_block_1">
    <div class="wr">
      <div class="_15cacd0c">
        <div class="_content_left_block">
          <header class="_af4fe10b">
            <h2 class="_060ab2a4">File storage</h2>
            {% include 'storage/_menu_main.html' %}
            {% include 'storage/_find_file.html' %}
          </header>
        </div>
        <div class="_content_right_block">
          <div class="_3f613442">
            <h4 class="_8239ae20">Delete File "{{ file.file_name }}"</h4><br />
            <div class="_1b1643a8">
                <strong>Are you sure you want to delete the file {{ file.file_name }}?</strong> - 
                <a href="{% url 'storage:delete_file_confirmed' file.id %}">Yes! Delete!</a><br /> 
                {% include 'storage/_menu_file.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% endblock %}