{{ file.id }}. {{ file.file_name }} - {{ file.file_size }} byte<br />
<i><strong>Description:</strong></i> {{ file.description }}<br /> 
<i><strong>Review date:</strong></i> 
{% if file.attention_date < today %}
    <span class="attention_date">{{ file.attention_date }}</span>
{% else %}
    {{ file.attention_date }}
{% endif %}
<br />
<i><strong>Tags:</strong></i>

{% if file.tags %}
{% for tag in file.tags.all %}
<a href="{% url 'storage:tag' tag.id %}">{{ tag.name }}</a> {% if not forloop.last %}, {% endif %}
{% endfor %}
{% endif %}

{% if not file.tags.all %}
<a href="{% url 'storage:tag_none' %}">without tag</a>
{% endif %}


