{% extends 'base.html' %} {% block title %}List of files with upcoming date review{% endblock %}
{% block content %}

<section class="_content_block_1">
  <div class="wr">
    <div class="_15cacd0c">
      <div class="_content_left_block">
        <header class="_af4fe10b">
          <h2 class="_060ab2a4">File storage</h2>
          {% include 'storage/_menu_main.html' %}
          {% include 'storage/_find_file.html' %}
        </header>
      </div>
      <div class="_content_right_block">
        <div class="_3f613442">
          <h4 class="_8239ae20">List of files with upcoming date review</h4><br />
          <div class="_1b1643a8">
            <ul>
              {% for file in files %}
              <li>
                {% include 'storage/_info_file.html' %}<br />
                {% include 'storage/_menu_file.html' %}<br /><br />
              </li>
              {% empty %}
              <li>No files with upcoming date review available.</li>
              {% endfor %}
            </ul>
            {% include 'storage/_pagination.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
