{% extends 'quotes/base.html' %}

{% block title %}List of file tags{% endblock %}

{% block content %}

<section class="_content_block_1">
  <div class="wr">
    <div class="_15cacd0c">
      <div class="_content_left_block">
        <header class="_af4fe10b">
          <h2 class="_060ab2a4">File storage</h2>
          {% include 'storage/_menu_main.html' %}
          {% include 'storage/_find_file.html' %}
        </header>
      </div>
      <div class="_content_right_block">
        <div class="_3f613442">
          <h4 class="_8239ae20">List of tags for file</h4><br />
          <div class="_1b1643a8">
            <ul>
              {% if without_tags %}
              <li>
                <strong>
                <a href="{% url 'storage:tag_none' %}">Without tags uploaded files: {{ without_tags }}</a>
                </strong> 
              </li>
              <br />
              {% endif %}
            
              {% for tag in tags %}
              <li>
                <strong>
                  {% if tag.num_files %}<a href="{% url 'storage:tag' tag.id %}">{% endif %}
                  {{ tag.name }}
                  {% if tag.num_files %}</a>{% endif %}</strong> 
                  - used in {{ tag.num_files }} files <br />
                  {% include 'storage/_menu_tag.html' %}<br /><br />
              </li>
              {% empty %}
              <li>No tag available</li>
              {% endfor %}
              <li><a href="{% url 'storage:add_tag' %}">Add another tag</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
