.venv
drafts
drafts/
paenv/*
migrations/*
!migrations/__init__.py
**/migrations/*
!**/migrations/__init__.py
pa/db.sqlite3
__pycache__
__pycache__/
.mypy_cache
.mypy_cache/
node_modules
node_modules/
.idea
.idea/
.env
