{% load static %}
<section class="_content_block_1">
  <div class="wr">
    <header class="_1923fe83">
      <h2 class="_06745472">Reviews</h2>
      <p class="_0954f0bf">
        Our team convened a small focus group to gather requirements for this application and conducted in-depth interviews with each focus group member. We showed them the minimally useful version and got feedback.
      </p>
    </header>
    <div class="_b74af010">
      <div class="_d7c3134c">
        <img src="{% static '_sarah.jpeg' %}"
          class="team_photo">
        <h3 class="_40c675ce">Sarah Williams</h3>
        <span class="_5da1b81b">Primary school teacher? 34 years old</span>
      
        <span class="_5da1b81b">"This program has changed my approach to organizing my work process! It is incredibly convenient and easy to use. Now I have all the information at my fingertips, and I can easily keep my educational materials in order. I recommend it to all teachers!"</span>
      </div>
      <div class="_d7c3134c">
          <img src="{% static '_michael.jpeg' %}"
            class="team_photo">
        <h3 class="_40c675ce">Michael Johnson</h3>
        <span class="_5da1b81b">Freelancer, graphic designer, 29 years old</span>
        <span class="_5da1b81b">"I've always been looking for a tool to help me organize my files. This product does just that! Now all my projects and files are organized in one place. The simplicity of the interface is amazing and I'm sure I won't lose a single important file."</span>
      </div>
      <div class="_d7c3134c">
          <img src="{% static '_emily.jpeg' %}"
            class="team_photo">
        <h3 class="_40c675ce">Emily Black</h3>
        <span class="_5da1b81b">Marketing Manager, 42 years old</span>
        <span class="_5da1b81b">"With this program, my workspace has become much more organized. All information is now in one place, which allows me to quickly find the files and documents I need. Convenience and ease of use make this product an indispensable tool for any professional."</span>
      </div>
      <div class="_d7c3134c">
          <img src="{% static '_david.jpeg' %}"
            class="team_photo">
        <h3 class="_40c675ce">David Brown</h3>
        <span class="_5da1b81b">IT specialist, 37 years old</span>
        <span class="_5da1b81b">“This software is a real godsend! It is so convenient and easy to use that I instantly put all my documents in order. Now I always have all the necessary information at hand, and keeping order has become a breeze. Simply amazing!”</span>
      </div>
    </div>
  </div>
</section>