{% extends 'base.html' %}

{% block title %}Personal Assistance Site{% endblock %}

{% block content %}

<section class="_content_block_1">
    <div class="wr">
      <div class="_15cacd0c">
        <div class="_content_left_block">
          <header class="_af4fe10b">
            <h2 class="_060ab2a4">Road map</h2>
          </header>
        </div>
        <div class="_content_right_block">
          <div class="_3f613442">
            <h4 class="_8239ae20">What are we planning to do next?</h4>
            <div class="_1b1643a8">
              <br />
                <ul>
                    <li>Creating an application<br />
                        - Ability to synchronize your contact list via the mobile application<br />
                        - sending reminders through the application</li>

                    <li>Creating a telegram bot<br />
                        - registration via telegram<br />
                        - ability to save sent files to the bot<br />
                        - sending reminders via bot<br />
                        - synchronization with telegram contacts</li>

                    <li>Sending reminders about file review deadlines</li>

                    <li>Synchronizing data with Google Sheets</li>

                    <li>Ability to synchronize your contact list via a mobile application</li>

                    <li>Ability to download/upload information in csv format</li>

                </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}