{% extends "quotes/base.html" %}

{% block content %}

<div>
    <h2>Enter new information for {{ note.name }}</h2>
</div>

<form method="post">
    {% csrf_token %}
    <div class="row" bis_skin_checked="1">
        <div class="form-group col-xs-3" bis_skin_checked="1">
            <label for="id_new_name">Title:</label>
            <input type="text" class="form-control" id="id_new_name" name="new_name" value="{{ note.name }}">
        </div>
    </div>

    <div class="row" bis_skin_checked="1">
        <div class="form-group col-xs-3" bis_skin_checked="1">
            <label for="id_new_description">Description:</label>
            <input type="text" class="form-control" id="id_new_description" name="new_description" value="{{ note.description }}">
        </div>
    </div>

    <div class="row" bis_skin_checked="1">
        <div class="form-group col-xs-3" bis_skin_checked="1">
            <label for="id_new_tags">Tags:</label>
            <input type="text" class="form-control" id="id_new_tags" name="new_tags" value="{% for tag in note.tags.values %} {{ tag.name }},{% endfor %}">
        </div>
    </div>


    <input type="submit" value="Confirm" class="btn btn-primary">

</form>

{% endblock %}