{% load static %}
<section class="_content_block_1">
  <div class="wr">
    <header class="_6dbf6d99">
      <h2 class="_06745472">Key Benefits</h2>
      <p class="_0954f0bf">
        Experience the essence of efficiency with PersonalAssistanse&#x27;s key
        features - an ode to minimalism in a world of digital noise.
      </p>
    </header>
    <div class="_b74af010">
      <div class="_d7c3134c">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="um-icon _aa3545e6"
          fill="currentColor"
          width="24"
          height="24"
          viewBox="0 0 24 24">
          <path
            d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"
          ></path>
        </svg>
        <h3 class="_40c675ce">Cloud Sync</h3>
        <span class="_5da1b81b"
          >Keep your documents, contacts, and notes in sync across all
          your devices with our secure cloud storage solution.</span
        >
      </div>
      <div class="_d7c3134c">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="um-icon _aa3545e6"
          fill="currentColor"
          width="24"
          height="24"
          viewBox="0 0 24 24">
          <path
            d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm4.2 14.2L11 13V7h1.5v5.2l4.5 2.7-.8 1.3z"
          ></path>
        </svg>
        <h3 class="_40c675ce">Daily Digest</h3>
        <span class="_5da1b81b"
          >Stay informed with a curated list of news? inspirational
          quotes and weather delivered to your personalized feed every morning.</span
        >
      </div>
      <div class="_d7c3134c">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="um-icon _aa3545e6"
          fill="currentColor"
          width="24"
          height="24"
          viewBox="0 0 24 24">
          <path
            d="M19.36 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04A5.994 5.994 0 0 0 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.64-4.96z"
          ></path>
        </svg>
        <h3 class="_40c675ce">Quick Access</h3>
        <span class="_5da1b81b"
          >Retrieve any file or contact detail with lightning-fast search
          and quick-access widgets designed for efficiency.
        </span>
      </div>
      <div class="_d7c3134c">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="um-icon _aa3545e6"
          fill="currentColor"
          width="24"
          height="24"
          viewBox="0 0 24 24">
        <path 
        d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 0 0 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
        ></path>
        </svg>
        <h3 class="_40c675ce">Reminders</h3>
        <span class="_5da1b81b"
          >Receive reminders whenever your contacts' birthday approaches.
        </span>
      </div>
    </div>
  </div>
</section>
<section class="_1923fe83">
  <div class="wr">
    <div class="_15cacd0c">
      <div class="_content_left_block">
        <header class="_af4fe10b">
          <h2 class="_060ab2a4">FAQs</h2>
          <p class="_defae18f">
            Have questions? We&#x27;ve compiled a list of frequently asked
            questions to help you better understand PersonalAssistanse and its
            benefits.
          </p>
        </header>
      </div>
      <div class="_content_right_block">
        <div class="_3f613442">
          <h4 class="_8239ae20">How secure is PersonalAssistanse?</h4>
          <div class="_1b1643a8">
            With state-of-the-art encryption and privacy controls, your data
            is always safe with PersonalAssistanse. Experience true digital security.
          </div>
        </div>
        <div class="_3f613442">
          <h4 class="_8239ae20">Can I customize my newsfeed?</h4>
          <div class="_1b1643a8">
            Absolutely! Our newsfeed is fully customizable, allowing you to
            select topics and sources that matter most to you.
          </div>
        </div>
        <div class="_3f613442">
          <h4 class="_8239ae20">What file types are supported?</h4>
          <div class="_1b1643a8">
            PersonalAssistanse supports a wide variety of file types, offering you
            flexibility in how you store and manage your documents.
          </div>
        </div>
        <div class="_3f613442">
          <h4 class="_8239ae20">Is there a mobile version?</h4>
          <div class="_1b1643a8">
            Yes, PersonalAssistante is available on both your smartphone and tablet, 
            giving you seamless access to your data wherever you are. It is enough that you 
            have access to the Internet and a browser
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="_1923fe83">
  <div class="wr">
    <header class="_1923fe83">
      <h2 class="_06745472">The project team</h2>
      <p class="_0954f0bf">
        This project was created in two weeks by a team of novice developers as a result of the course PythonWEB in GoIT
      </p>
    </header>
    <div class="_b74af010">
      <div class="_d7c3134c">
        <img src="{% static '_anton.jpg' %}"
          class="team_photo">
        <h3 class="_40c675ce">Anton Tarasov</h3>
        <span class="_5da1b81b">Storage, Upload, HTML, CSS, install on Ubuntu/Linux</span>
      </div>
      <div class="_d7c3134c">
          <img src="{% static '_oleg.jpg' %}"
            class="team_photo">
        <h3 class="_40c675ce">Oleh Davydenko</h3>
        <span class="_5da1b81b">News, RestAPI, HTML, CSS, install on Windows</span>
      </div>
      <div class="_d7c3134c">
          <img src="{% static '_polina.jpg' %}"
            class="team_photo">
        <h3 class="_40c675ce">Polina Mamchur</h3>
        <span class="_5da1b81b">Reminder, send email, testing</span>
      </div>
      <div class="_d7c3134c">
          <img src="{% static '_stepan.png' %}"
            class="team_photo">
        <h3 class="_40c675ce">Stepan Udod</h3>
        <span class="_5da1b81b">Contacts, Notes, HTML, CSS, </span>
      </div>
    </div>
  </div>
</section>