<ul class="menu">
    <li><a href="{% url 'quotes:author_list' %}">Authors</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'quotes:add_author' %}">Add Author</a></li>
    {% endif %}
    <li><a href="{% url 'quotes:tag_list' %}">Tags</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'quotes:add_tag' %}">Add Tag</a></li>
    {% endif %}
    <li><a href="{% url 'quotes:quote_list' %}">Quotes</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'quotes:add_quote' %}">Add Quote</a></li>
    {% endif %} 
  </ul>