{% extends 'quotes/base.html' %} {% block title %}List of Quotes{% endblock %}
{% block content %}

<h1>List of Quotes</h1>
<ul>
  {% for quote in quotes %}
  <li>
    <strong>{{ quote.text }}</strong><br /><br />
    <i
      ><a href="{% url 'quotes:author_detail' quote.author.id %}">
        {{quote.author}}</a
      ></i
    ><br />

    <i><strong>Tags:</strong></i>
    {% for tag in quote.tags.all %}

    <a href="{% url 'quotes:tag_quotes' tag.id %}"> {{ tag.name }}</a>

    {% if not forloop.last %}, {% endif %} {% endfor %}<br />
    <small
      >Added by: {% if quote.added_by %} {{ quote.added_by.username }} {% else
      %}Unknown{% endif %}
    </small>
    <br /><br />
  </li>
  {% endfor %}
</ul>
{% if user.is_authenticated %}
<a href="{% url 'quotes:add_quote' %}">Add a new Quote</a>{% endif %}
{% endblock %}
