{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}

<section class="_content_block_1">
  <div class="wr">
    <div class="_15cacd0c">
      <div class="_content_left_block">
        <header class="_af4fe10b">
          <h2 class="_060ab2a4">Password reset</h2>
          <p class="_defae18f">
            Please enter the email you used during registration
          </p>
        </header>
      </div>
      <div class="_content_right_block">
        <div class="_3f613442">
          <h4 class="_8239ae20">An email with further instructions will be sent to the specified email address.</h4>
          <div class="_1b1643a8">
            <form method="post">
              {% csrf_token %} {{ form.as_p }}
              <button type="submit">Request password reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
