{% extends "quotes/base.html" %}
{% block content %}
    <div class="row my-4">
        <div class="col">
            <div class="container">
                {% block top %}
                {% endblock top %}
            </div>
            <h2 class="text-center">
                {% block h2 %}
                {% endblock h2 %}
            </h2>
            <div class="container">
                {% block main_content_header %}
                {% endblock main_content_header %}
                {% block main_content %}
                {% endblock main_content %}
            </div>
        </div>
    </div>
{% endblock content %}
