{% extends "quotes/base.html" %}
{% block content %}
    <section class="news-section">
        <div class="wr">
            <div class="container-fruid">
                {% block top %}
                {% endblock top %}
            </div>
            <h2 class="text-center">
                {% block h2 %}
                {% endblock h2 %}
            </h2>
            <div class="container-fruid">
                {% block main_content_header %}
                {% endblock main_content_header %}
                {% block main_content %}
                {% endblock main_content %}
            </div>
        </div>
    </section>
{% endblock content %}
