{% extends "news/content_right.html" %}
{% block top %}
    <div class="row mb-4">
        <div class="col">
            <div class="d-flex flex-wrap text-center justify-content-between">
                <a class="flex-fill btn btn-light btn-sm border border-1 me-1 mb-1 d-block"
                   href="{% url 'news:economics' %}">
                    <div class="fw-bold">Economic News</div>
                    <div class="small fst-italic">(from ukr.net)</div>
                </a>
                <a class="flex-fill btn btn-light btn-sm border border-1 me-1 mb-1 d-block"
                   href="{% url 'news:politics' %}">
                    <div class="fw-bold">Political News</div>
                    <div class="small fst-italic">(from ukr.net)</div>
                </a>
                <a class="flex-fill btn btn-light btn-sm border border-1 me-1 mb-1 d-block"
                   href="{% url 'news:weather' %}">
                    <div class="fw-bold">Weather</div>
                    <div class="small fst-italic">(from meteo.ua)</div>
                </a>
                <a class="flex-fill btn btn-light btn-sm border border-1 me-1 mb-1 d-block"
                   href="{% url 'news:main' %}">
                    <div class="fw-bold">Quotes</div>
                    <div class="small fst-italic">(from quotes.toscrape.com)</div>
                </a>
            </div>
        </div>
    </div>
{% endblock top %}
{% block h2 %}
    {{ h2 }}
{% endblock h2 %}
{% block main_content_header %}
    {% with url="news:"|add:news_type|add:"_get" %}
        <div class="row mb-4">
            <div class="col">
                <div class="text-center">
                    <span>Update data</span><a title="Update Data"
   class="btn btn-link btn-sm border border-1 ms-2"
   href="{% url url %}"><i class="fa-solid fa-rotate"></i></a>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock main_content_header %}
{% block main_content %}
    {% if page_obj %}
        {% if not show_all_pages or show_items_per_page %}
            <div class="row mb-2">
                <div class="col"></div>
                <div class="col-lg-10">{% include "news/items_per_page.html" %}</div>
                <div class="col"></div>
            </div>
        {% endif %}
        {% if news_type == "weather" %}
            <div class="row mb-4">
                <div class="col">
                    <div class="d-flex flex-wrap justify-content-center my-4">
                        {% for news in page_obj %}
                            {% with url="news/"|add:news_type|add:".html" %}
                                {% include url %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            {% for news in page_obj %}
                <div class="row mb-4">
                    <div class="col"></div>
                    <div class="col-lg-10">
                        {% with url="news/"|add:news_type|add:".html" %}
                            {% include url %}
                        {% endwith %}
                    </div>
                    <div class="col"></div>
                </div>
            {% endfor %}
        {% endif %}
        {% if not show_all_pages %}
            {% include "news/pagination.html" %}
        {% endif %}
    {% endif %}
{% endblock main_content %}
