<div class="weather-news px-2 pb-3 d-flex">
    <a class="weather-news-info w-100 d-flex flex-column shadow-sm p-3 border border-1 rounded-3 text-center text-decoration-none" target="_blank"
       href="{{ news.url }}">
        <div class="weather-news-city-block mb-2">{{ news.city }}</div>
        <div class="weather-news-icon-block mb-2"></div>
        <div class="weather-news-degree-block mb-2">{{ news.degree }}</div>
        <div class="weather-news-cloudy-block mb-2">{{ news.cloudy }}</div>
        <div class="weather-news-humidity-block">{{ news.humidity }}</div>
    </a>
</div>
