.alert-error,
.errorlist {
  color: crimson;
}

.alert-success {
  color: green;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
}

.menu a:hover {
  background-color: #f0f0f0;
}

.attention_date {
  color: red;
  font-weight: bolder;
}
