.alert-error,
.errorlist {
  color: crimson;
}

.alert-success {
  color: green;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
}

.menu a:hover {
  background-color: #f0f0f0;
}

.attention_date {
  color: red;
  font-weight: bolder;
}

.weather-news {
  flex-shrink: 0;
  display: flex;
}

@media (max-width: 576px) {
  .weather-news {
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .weather-news {
    width: 33.333333%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .weather-news {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .weather-news {
    width: 16.666666%;
  }
}

.weather-news-info {
  flex-shrink: 0;
  color: #153456;
}

@media (max-width: 991px) {
  .weather-news-info {
    min-height: 180px;
  }
}

@media (min-width: 991px) {
  .weather-news-info {
    min-height: 192px;
  }
}

.weather-news-info:hover {
  border-color: #2196f3 !important;
}

.weather-news-city-block {
  font-size: 14px;
}

.weather-news-info:hover .weather-news-city-block {
  color: #1863b5 !important;
  text-decoration: underline !important;
}

.weather-news-icon-block {
  width: 32px;
  height: 32px;
}

.weather-news-degree-block {
  font-size: 14px;
  font-weight: 600;
  color: #0f0f10;
}

.weather-news-cloudy-block {
  font-size: 12px;
  color: #153456;
}

.weather-news-humidity-block {
  font-size: 12px;
  color: #a9b4bd;
}
