{% extends 'quotes/base.html' %}

{% block title %}Contacts{% endblock %}

{% block content%}

<section class="_content_block_1">
    <div class="wr">
      <div class="_15cacd0c">
        <div class="_content_left_block">
          <header class="_af4fe10b">
            <h2 class="_060ab2a4">Contacts</h2>
            {% include 'contacts/_contacts_menu.html' %}
            {% include 'contacts/_search_form.html' %}
          </header>
        </div>
        <div class="_content_right_block">
          <div class="_3f613442">
            <h4 class="_8239ae20">List of contacts</h4>
            <br />
            <div class="_1b1643a8">
                <ul>
                    {% for contact in contacts %}
                      {% include 'contacts/_contact_detail.html' %}
                      {% include 'contacts/_contact_menu.html' %}
                      <br /> <br />
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% endblock %}