{% extends 'quotes/base.html' %}

{% block content%}

<h1>Contacts:</h1>
<nav>
    <ul class="menu">
        <li><a href="{% url 'contacts:create_contact' %}">New contact</a></li>
        <div>
            <form action="{% url 'contacts:find_contact' %}" method="post">
                {% csrf_token %}
                <label for="id_search_word">Find contact:</label>
                <input type="text" class="form-control" id="id_search_word" name="search_word">
                <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </ul>
</nav>

<ul>
    {% for contact in contacts %}
    <li>
        <a href="/contact/{{contact.id}}">{{ contact.name }}</a>
        <ul>
            {% if contact.phone %}
            <li>Phone: {{ contact.phone }}</li>
            {% endif %}
            {% if contact.email %}
            <li>Email: {{ contact.email }}</li>
            {% endif %}
            {% if contact.address %}
            <li>Address: {{ contact.address }}</li>
            {% endif %}
            {% if contact.birthday %}
            <li>Birthday: {{ contact.birthday }}</li>
            {% endif %}
        </ul>
        <a href="/contact/{{contact.id}}/edit">Edit</a>
        <a href="/contact/{{contact.id}}/delete">Delete</a>
        {% endfor %}
    </li>
</ul>

{% endblock %}